/*
    #4b9ec9 - primary color
    #9dcbe2 - supporting color

    #c9764b - complementary color
*/
html{ 
    padding: 0px;
    margin: 0px;
} 

body {
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
    /*background-color: #FFCC00;*/
    font-family: 'Source Sans Pro', sans-serif;
    
    display: flex;
    flex: 1;
    flex-direction: column;

}

a {
    text-decoration: none;
    color: inherit;
}

h3 {
    font-weight: normal;
}

#main-content {
/*    display: flex;
    flex: 1;*/
}

#ng-view {
    transition:opacity ease-in-out 0.2s;
}

#ng-view.ng-enter, #ng-view.ng-leave {
    /*opacity:1;*/
/*    transition: opaticy;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;*/
}

#ng-view.ng-enter {
  opacity:0;
}
#ng-view.ng-enter.ng-enter-active {
  opacity:1;
}
#ng-view.ng-leave.ng-leave-active {
  display: none;
}

header {
    /*background-color: #f3f3f3;*/
}

#main-header {
    
    display: flex;
    align-items: center;
    margin: 10px;
}

#main-header img {
    width: auto;
}

@media screen and (min-width: 769px) {
    #main-header img {
        height: 100px;
    }
}

@media screen and (max-width: 768px) {
    #main-header img {
        height: 80px;
    }

    span.sub-header {
        display: block;
    }
    
    body {
        font-size: 1.1em;
    }
}

.content-wrapper {
    /*display: inline-block;*/
    margin: auto;
    max-width: 1004px; /* 1024 - 20 padding (from content-padding)*/
}

.content-padding {
    padding-left: 10px;
    padding-right: 10px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

#ng-view {
    width: 100%;
    display: inline-block;
}

.italic {
    font-style: italic;
}

.text-info {
    /*font-size: 1.1em;*/
    padding: 15px;
    display: block;
    text-align: center;
    font-weight: bold;
}

span.sub-header {
    color: #555;
    font-weight: normal;
    font-size: 0.8em;
}

header {
    /*display: inline-block;*/
    width: 100%;
}

.kylcentralen-flex {
    /*background-color: #9dcbe2;*/
    display: flex;
    align-items: center;
    /*justify-content: space-around*/
}

.kylcentralen-flex div {
    display: flex;
    padding: 10px;
    flex-grow: 1;

    align-items: center;
    flex-direction: column;
    /*justify-content: space-around*/
}

/*.kylcentralen-flex a {
    display: flex;
    align-items: center;
}*/

.kylcentralen-flex img:not(.kylcentralen-flex-item-img-lg) {
    margin: auto;
    display: inherit;
    max-width: 80%;
    max-height: 256px; 
    width: auto;
}

.kylcentralen-flex-item-align-left {
    align-items: flex-start !important;
}

@media screen and (min-width: 769px) {
    .kylcentralen-flex {
        flex-direction: row;
    }   
    
    .kylcentralen-flex div {
        /* http://stackoverflow.com/questions/25066214/flexbox-not-giving-equal-width-to-elements */
        flex-basis: 0;
    }
}

@media screen and (max-width: 768px) {
    .kylcentralen-flex {
        flex-direction: column;
    }
    
    .kylcentralen-flex-item-img-lg {
        max-width: 80%;
    }
}