html{ 
    padding: 0px;
    margin: 0px;
} 

body {
    padding: 0px;
    margin: 0px;
    /*background-color: #FFCC00;*/
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

h3 {
    font-weight: normal;
}

@media screen and (min-width: 769px) {
    #main-header {
        margin-left: 30px;
    }
}

@media screen and (max-width: 768px) {
    #main-header {
        margin-left: 30px;
    }
    
    span.sub-header {
        display: block;
    }
    
    body {
        font-size: 1.1em;
    }
}

.content-wrapper {
    /*display: inline-block;*/
    margin: auto;
    max-width: 1004px; /* 1024 - 20 padding (from content-padding)*/
}

.content-padding {
    padding-left: 10px;
    padding-right: 10px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

#ng-view {
    width: 100%;
    display: inline-block;
}

.italic {
    font-style: italic;
}

.text-info {
    /*font-size: 1.1em;*/
    padding: 15px;
    display: block;
    text-align: center;
    font-weight: bold;
}

span.sub-header {
    color: #555;
    font-weight: normal;
    font-size: 0.8em;
}

header {
    display: inline-block;
    width: 100%;
}

footer {
    display: flex;
    align-items: center;
}

footer div {
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-direction: column;
}

@media screen and (min-width: 769px) {
    footer {
        flex-direction: row;
    }   
}

@media screen and (max-width: 768px) {
    footer {
        flex-direction: column;
    }
}