<style type="text/css">
    nav {
        /*background-color: whitesmoke;*/
    }
    
    nav a.active {
        background-color: aquamarine;
    }
    
    nav a {
        /*line-height: 20px;*/
        opacity: 1;
        /*padding: 10px;*/
        /*border: 1px solid black;*/
        /*background: white;*/
    }

    nav a.ng-hide-add, nav a.ng-hide-remove {
        transition: all linear 0.5s;
    }

    nav a.ng-hide {
        /*line-height: 0;*/
        opacity: 0;
        /*padding: 0 10px;*/
    }

    @media screen and (min-width: 769px) {
        nav {
            /*display: inline-block;*/
            padding-left: 30px;
        }

        nav a {
            display: inline-block;
            /*margin: 10px;*/
            font-size: 1.2em;
            background-color: tomato;
            padding: 10px;
        }
        
        nav a:first-of-type {
            display: none;
        }
    }

    @media screen and (max-width: 768px) {
        nav a {
            border-bottom: 1px solid black;
            display: block;
            font-size: 1.2em;
            background-color: tomato;
            padding: 15px;
        }
        
        nav a:first-of-type {
            font-size: 30px;
        }
    }
</style>

<nav>
    <a ng-click="_toggleNavigation()">&#9776;&nbsp;</a>
    <a ng-click="_navigate()" ng-show="navigationOpen" ng-class="{ active: isActive('/')}" href="#/">{{appName}}</a>
    <a ng-click="_navigate()" ng-show="navigationOpen" ng-class="{ active: isActive('/cooling')}" href="#/cooling">Kyl/Frys/AC</a>
    <a ng-click="_navigate()" ng-show="navigationOpen" ng-class="{ active: isActive('/heat-pumps')}" href="#/heat-pumps">V&auml;rmepumpar</a>
    <a ng-click="_navigate()" ng-show="navigationOpen" ng-class="{ active: isActive('/agreement-cooling-heat')}" href="#/agreement-cooling-heat">Avtal&nbsp;kyla/v&auml;rme</a>
    <a ng-click="_navigate()" ng-show="navigationOpen" ng-class="{ active: isActive('/contact')}" href="#/contact">Kontakta&nbsp;oss</a>
</nav>
