<div class="content-padding">
    <h2>
        Avtal 
        <span class="sub-header"> - för säker kyla och säker värme</span>
    </h2>
    
    <p>
        Vi erbjuder även ett avtal av periodiserad service av:
    </p>    
    
    <ul>
        <li>Berg Jord Luft</li>
        <li>vatten, Luft</li>
        <li>luft värmepumpar</li>
    </ul>
    
    <p>
        Vilket är lämpligt att göra på hösten innan vintertid. 
    </p>

    <p>
        På kyl sidan erbjuder vi även periodiserad service, lämpligast på våren innan sommaren.
        <br />
        Självklart går de att göra en service oavsett tid på året.
    </p>
    
    <p>
        Vi erbjuder årlig periodiserad läcksökning som innebär att vi ser till att allt blir juridiskt korrekt gjort enligt Svensk Kylnorm. 
        <br />
        Dokument överlämnar vi till de lokala miljö & hälsa kontoret som bevis på kontrollen.
    </p>

    <span class="italic text-info">
        Kontakta oss för ett kostnadsfritt avtal så håller vi koll när eran service/årliga kontroll ska göras
    </span>
</div>
