<div class="content-padding">
    <h2>
        Kyla/frys
        <span class="sub-header"> - Installationer* Felsökning* Service*</span>
    </h2>
    
    <h3>Matbutiker</h3>
    
    <ul>
        <li>Kylrum och frysrum</li>
        <li>Kyl- och frysmöbler</li>
        <li>Styr och reglerteknik</li>
        <li>Energi-återvinnande system</li>
    </ul>

    <h3>Restauranger/Konditori</h3>
    
    <ul>
        <li>Kyl- och frysrum</li>
        <li>Kylbänkar/kylmonter</li>
        <li>Komfortkyla</li>
    </ul>

    <h3>Livsmedelsindustri</h3>

    <ul>
        <li>Butikskyla</li>
        <li>Industrikyla</li>
        <li>Energi-återvinnande system</li>
        <li>Värmepumpar/Klimatanläggning</li>
        <li>Avfuktare</li>
    </ul>

    <h3>Luftkonditionering</h3>
    
    <ul>
        <li>Kyla/värme ventilation</li>
        <li>Splitt-aggregat</li>
        <li>Server kyla</li>
        <li>Avfuktare</li>
    </ul>

    <h3>Offentliga Miljöer</h3>
    
    <ul>
        <li>Energi-återvinnande system</li>
        <li>Värmepumpar</li>
        <li>Luftkonditionering</li>
    </ul>

    <span class="italic text-info">
        Är de något ni söker tveka inte att höra av er om specifika produkter inom området kyla/värme.
    </span>
</div>
