<div class="content-padding">
    <h2>
        Kyla/frys
        <span class="sub-header"> - installation, felsökning och service</span>
    </h2>
    
    <h3>
        Vi på KylCentralen utför allt du kan tänka dig inom klimat, några exempel:
    </h3>
    
    <div class="kylcentralen-flex">
        <div class="kylcentralen-flex-item-align-left">
          <h3>Matbutiker</h3>
    
            <ul>
                <li>Kylrum och frysrum</li>
                <li>Kyl- och frysmöbler</li>
                <li>Styr och reglerteknik</li>
                <li>Energi-återvinnande system</li>
            </ul>

            <h3>Restauranger/Konditori</h3>

            <ul>
                <li>Kyl- och frysrum</li>
                <li>Kylbänkar/kylmonter</li>
                <li>Komfortkyla</li>
            </ul>

            <h3>Livsmedelsindustri</h3>

            <ul>
                <li>Butikskyla</li>
                <li>Industrikyla</li>
                <li>Energi-återvinnande system</li>
                <li>Värmepumpar/Klimatanläggning</li>
                <li>Avfuktare</li>
            </ul>

            <h3>Luftkonditionering</h3>

            <ul>
                <li>Kyla/värme ventilation</li>
                <li>Splitt-aggregat</li>
                <li>Server kyla</li>
                <li>Avfuktare</li>
            </ul>

            <h3>Offentliga Miljöer</h3>

            <ul>
                <li>Energi-återvinnande system</li>
                <li>Värmepumpar</li>
                <li>Luftkonditionering</li>
            </ul>     
        </div>
        <div>
            <img class="kylcentralen-flex-item-img-lg" src="img/air_pump_2.png"/>
        </div>
    </div>

    <span class="italic text-info">
        Är de något ni söker tveka inte att höra av er om specifika produkter inom området kyla/värme.
    </span>
</div>
