<div class="content-padding">
    <h2>
        Värmepumpar
    </h2>
    
    <p>
        Vi på KylCentralen har valt att installera Daikin värmepumpar & klimatanläggningar,
        då vi vet att de är ett av marknadens ledande märken inom område värme/kyla.
    </p>
    
    <ul>
        <li>Luft/vatten</li>
        <li>Luft/luft</li>
        <li>Bergvärme, jord (vätska/vätska)</li>
        <li>Värmeåtervinning.(VBX)</li>
    </ul>
    
    <h3>Byte av värmepump?</h3>

    <p>
        Har du redan en bergvärmepump men behöver en ny?<br />
        Då passar Daikins bergvärmepump perfekt! 
        Daikin Bergvärme är inverterstyrd och anpassar alltid effekten efter husets behov mellan 2,5 till 13 kW.
        Här är hemligheten bakom den överlägsna besparingen med Daikin Bergvärme. 
        Inverterstyrning ger alltid rätt värme för alla hus. 
        Vi har byggt in allt som behövs för effektiv och trygg värme i en kompakt och snygg enhet. 
        Perfekt för dig som vill ha maximal besparing och en snygg installation på liten yta
    </p>
    
    <h3>Daikin anpassar sig till borrhålet</h3>

    <p>
        Med Daikin Bergvärme är det ingen risk att borrhålet blir för kallt,
        alltså att pumpen slukar all energi och huset uteblir värme. 
        Daikins avancerade mikroprocessor övervakar temperaturen i borrhålet och reducerar effekten vid behov. 
    </p>

    <h3>Tyst och ekonomisk</h3>

    <p>
        Daikins egenutvecklade kompressor arbetar på låga varvtal mer än 90 procent av tiden och antalet start och stopp reduceras till ett minimum, 
        alltså slits inte kompressorn som på en traditionell som växlar mellan 0% till 100%  som är dyrare vid drift. 
        Effektiv isolering och den speciella placeringen av kompressorn sänker ljudnivån ytterligare.
        De bästa är att de inte finns särskilt många rörliga delar som fjädrar som finns i traditionella kompressorer som kan orsaka haveri om dessa går av.
    </p>
    
    <p>
        Daikin bergvärme är inte som vanliga bergvärmepumpar. 
        Den täcker hela ditt värmebehov utan att koppla in den energislukande elpatronen när det blir kallt, det sparar du tusenlappar på. 
        Skälet till detta är att pumpen har ett steglöst effektspann och anpassar effekten automatiskt efter behov. 
        Det gör också att den passar i alla typer hus, stora som små. 
    </p>

    <span class="italic text-info"><a href="http://www.daikin.se/" target="_blank">Läs mer på Daikin.se</a></span>
</div>
