<div class="content-padding">
    <h2>
        V&auml;lkommen till {{appName}}
        <span class="sub-header"> - allt inom kyla och V&auml;rme!</span>
    </h2>
    <h3>
        Vi p&aring; {{appName}} <span class="italic">Installerar</span>, <span class="italic">Fels&ouml;ker</span> samt g&ouml;r 
        <span class="italic">Service</span> av kyl &amp; värmeanläggningar, b&aring;de sm&aring; och stora alternativ.
        <br />
        V&aring;ra omr&aring;den &auml;r Mora, Orsa, &Auml;lvdalen, R&auml;ttvik, Vansbro och Malung-S&auml;len.
    </h3>
    <p>
        Vi satsar p&aring; anläggningar som &auml;r kommersiellt inriktade &aring;t kunden som inneb&auml;r en s&auml;krare framtid b&aring;de ekonomiskt och i funktions syfte.
        Vi har milj&ouml; & energisparandet i fokus och smarta alternativ som h&aring;ller i l&auml;ngden d&auml;r lagar och regler har betydelse f&ouml;r vad som &auml;r l&auml;mpligast att anv&auml;nda.
    </p>
    
    <div class="kylcentralen-flex">
        <div>
            <a ng-click="_navigate()" href="#/kyla">
                <img src="img/air_pump_1.png"/>
            </a>
            <h3>Inomhusklimat</h3>
            <p>
                Vi utför service, reparationer, installationer för de flesta områden inom kylteknik
            </p>
        </div>
        <div>
            <a ng-click="_navigate()" href="#/heat-pumps">
                <img src="img/dalkin_1.png"/>
            </a>
            <h3>Smarta värmeanläggningar</h3>
            <p>
                Erfarenhet och bra produkter gör KylCentralen till ett självklart val när det gäller leverantör och partner gällande allt inom kyla och värme!
            </p>
        </div>
        <div>
            <a ng-click="_navigate()" href="#/avtal">
                <img src="img/dalkin_2.png"/>
            </a>
            <h3>Bra ekonomi</h3>
            <p>
                En pump från Daikin är alltid pålitlig och ger dig mer perngar över!
            </p>
        </div>
    </div>
</div>