<div class="content-padding">
    <h2>
        V&auml;lkommen till {{appName}}
        <span class="sub-header"> - allt inom kyla och V&auml;rme!</span>
    </h2>
    <h3>
        Vi p&aring; {{appName}} <span class="italic">Installerar</span>, <span class="italic">Fels&ouml;ker</span> samt g&ouml;r 
        <span class="italic">Service</span> av kyl &amp; värmeanläggningar, b&aring;de sm&aring; och stora alternativ.
        <br />
        V&aring;ra omr&aring;den &auml;r Mora, Orsa, &Auml;lvdalen, R&auml;ttvik, Vansbro och Malung-S&auml;len.
    </h3>
    <p>
        Vi satsar p&aring; anläggningar som &auml;r kommersiellt inriktade &aring;t kunden som inneb&auml;r en s&auml;krare framtid b&aring;de ekonomiskt och i funktions syfte.
        Vi har milj&ouml; & energisparandet i fokus och smarta alternativ som h&aring;ller i l&auml;ngden d&auml;r lagar och regler har betydelse f&ouml;r vad som &auml;r l&auml;mpligast att anv&auml;nda.
    </p>
</div>